/* styles.css */

* {
	font-family: Arial;
}

.server-image {
	float: left;
	width: 400px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 60x;
	border: 4px; #66ccdd;
}

.clear {
	clear: both;
}
